*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

button{
    border: solid 1px #cecece;
    border-radius: 3px;
    outline: none;
    margin: 3px;
}

.header{
    display: flex;
    justify-content: end;
    align-items: center;
    width: auto;
    height: auto;
    background-color: bisque;
}

.header__button{
    width: 50px;
    height: 30px;
    margin: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.container__title{
    padding: 20px;
    font-size: 52px;
}

.card{
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: azure;
}

.card__container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card__seccion{
    padding: 15px;
    margin: 5px;
   
}

.card__info{
    display: flex;
    flex-direction: column;
    align-items: start;
} 

.card__img{
    width: 130px;
    height: 150px;
    border: solid 1px black;
}

.card__code{
    padding: 5px;
    margin-bottom: 20px;
}

.card__text{
    padding: 5px;
}

.card__num{
    border: solid 1px black;
    font-size: 76px;
    padding: 5px;
    background-color: white;
}

.card--mod{
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card__text--mod{
    font-size: 44px;
}